@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to top, #4F1F59, #B91C37, #1D0A37);
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
p{
    color: #ffffff;
}


/* Search */

.container .search-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding-left: 90px;
}

.container .search-bar {
    position: relative;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.container .search-button {
    background-color: #4a4646; /* Background color */
    color: #fff; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    padding: 10px 20px; /* Add padding */
    font-size: 16px; /* Set font size */
    cursor: pointer; /* Add cursor pointer */
    transition: background-color 0.3s; /* Add transition for smooth color change */
}

.container .search-button:hover {
    background-color: #e43131; /* Change background color on hover */
}



.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-1 {
    flex-basis: 100%; /* Set flex-basis to 100% to occupy the entire width */
    min-width: 300px; /* Set minimum width to 300px */
    display: flex;
    justify-content: center; /* Center items horizontally */
    
}

.col-1 img {
    margin: 25px;
    display: inline-block; /* Align image to center */
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
    height: auto; /* Maintain aspect ratio */
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 50px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #4a4646;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition-duration: 0.5s;
}
.btn:hover{
    background: #ff0000;
}
.header{
    background-color: rgba(228, 59, 59, 0.8);
    height: 100%;
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 25%;
    min-width: 250px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}
.categories{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-3 img{
    width: 100%;
}
.card {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 5%; /* Adjust padding to be relative to container size */
    margin: 5%; /* Adjust margin to be relative to container size */
    max-width: 300px; /* Set a maximum width to avoid stretching on larger screens */
    height: auto; /* Let the height adjust based on content */
    background: rgba(255, 255, 255);
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

@media (min-width: 100000px) {
    .card {
        max-width: 25%; /* Adjust max-width to take 25% of the container's width */
    }
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.card h4{
    color: #000;
}



.small-cointainer{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition-duration: 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #ffffff;
}
.title::after{
    content: '';
    background: #eb3a3a;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #ffffff;
    font-weight: normal;
}
.col-4 P{
    font-size: 14px;
    color: #ffffff;
}
.rating .bx{
    color: #ff0000;
}
.col-4:hover{
    transform: translateY(-10px);
}

/*offer*/

.offer{
    /*background: radial-gradient(#fff,#D1C5C5);*/
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
    
}
small{
    color: #ffffff;
}

/* Testimonial */

.Testimonial{
    padding-top: 100px;
}
.Testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition-duration: 0.5s;
}
.Testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.Testimonial .col-3:hover{
    transform: translateY(-10px);
}
.bxs-quote-left{
    font-size: 34px;
    color: #ffffff;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #ffffff;
}
.Testimonial .col-3 h3{
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
}

/*------brands---------*/

.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0%);
}

/*------Footer---------*/

.footer{
    background: #000;
    background-color: #E43B3B;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: rgb(0, 0, 0);
}
.footer h3{
    color: #ffffff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;   
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #000000;
    height: 2px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* All Products */

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff253b;
    color: white;
}

/*---single product details ------*/

.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}
.single-product .bxs-quote-left{
    color: red;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}










/*---mdei query for menu ------*/

@media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        text-align: center;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }

    
}

/* media query for screen less than 600px */

@media only screen and (max-width: 600px){

    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

}
@media (max-width: 768px) {
    .search-container {
      flex-wrap: wrap; /* Wrap elements on smaller screens */
    }
  
    .search-bar {
      width: 100%; /* Take full width on smaller screens */
    }
  }